/*
Partials
 */

@import "profile";

p{
  font-size:24px;
}

/*
Inheritance
 */

.panel{
  border: 2px solid dodgerblue;
  background: lightgreen;
  margin:10px;
}

.little-panel{
  @extend .panel;
  font-size: 12px;
  padding:5px;
}

.big-panel{
  @extend .panel;
  font-size:32px;
  padding:20px;
}
