/*
Partials
 */

@import "profile";

p{
  font-size:24px;
}

/*
Mixin
 */
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/*
Inheritance
 */

.panel{
  border: 2px solid dodgerblue;
  background: lightgreen;
  margin:10px;
}

.little-panel{
  @extend .panel;
  @include border-radius(5px);
  font-size: 12px;
  padding:5px;

}

.big-panel{
  @extend .panel;
  @include border-radius(20px);
  font-size:32px;
  padding:20px;
}
